/* Active Animation */
.active {
  min-height: 3000px;
  border: none;
}

.actives {
  position: sticky;
  top: var(--top);
  width: 100%;
  height: var(--height);
  border-radius: var(--radius);
  overflow: hidden;
  display: flex;
  gap: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.active-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(5rem, 5vw, 8rem);
  font-weight: 600;
  transition: all .2s ease;
}

.active-card .text {
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  ;
  opacity: 0;
}

.active-card.activated {
  background-color: #0000d6;
  color: #efe5fd;
}

.active-card.activated .text {
  opacity: 1;
}
